@font-face {
    font-family: 'WorkSansRegular';
    src: url("../../public/fonts/WorkSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'WorkSansMedium';
    src: url("../../public/fonts/WorkSans-Medium.otf") format("opentype");
}  

@font-face {
    font-family: 'WorkSansBold';
    src: url("../../public/fonts/WorkSans-Bold.otf") format("opentype");
}

body, p, h1, h2, h3, h4, h5, ul {
    margin: 0;
}